.product-list-container {
    display: flex;
    padding: 40px;
}

.filter-container-heading {
    font-size: 12px;
    text-transform: uppercase;
    color: #AAA;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.filter select {
    border: none;
    width: 200px;
    border-bottom: 1px solid #AAA;
    padding: 20px 0px 10px;
    font-size: 14px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-list a {
    color: unset;
    text-decoration: unset;
}

.product-card {
    margin: 25px;
}

.product-card-image {
    width: 200px;
    height: 200px;
}

.product-card-name {
    width: 70%;
    position: relative;
    background-color: #FFF;
    padding: 20px 0px;
    margin-top: -25px;
    z-index: 10;
}

.product-card-flex-container {
    display: flex;
    justify-content: space-between;
}

.product-card-first-container {
    margin: -16px 0px 20px;
    z-index: 11;
    position: relative;
    font-size: 14px;
}

.product-card-collection{
    font-size: 10px;
    text-transform: uppercase;
    color: #ABABAB;
}